.header{
   
    height: 40px;
    border-bottom: 1px solid rgb(185, 126, 126);
    text-decoration: none;
    background: rgb(255, 255, 255);

    }
.header .cuenta{
    position: relative;
    top:10px;
    text-align:end;
    width: 70%;

}
.header .cuenta a{
    text-decoration:none ;
}