
.targetas{ 
    display: flex;
    justify-content: center;

}
.card{ 
   
    width: 400px;
    position: relative;
}
.card-title{
    top:map-get($card-title,top);
    position:map-get($card-title,position);
    right:map-get($card-title,right);
    font-size:map-get($card-title,font-size);
    color:map-get($card-title,color);
}

.card-img{
    height: 530px;
}
.targetas .card .link .card-title:hover{
    
    font-size:45px ;
    position:absolute ;
    right: 30%;
}
.credito-img{
    padding:2px;
    width: 45px;
    border-radius: 5px;
}


/* hasta aca andda bien el menu*/
.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
  .grid  article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
  .grid  article img {
    max-width: 100%;
  }
  .text {
    padding: 0 20px 20px;
  }
   .text button {
   background-color: coral;
    border-radius: 4px;
    padding: 2px;
    width: 100%;
    font-size: 15px;

    }
    article{
        width: 188px;
    }
    /* galeria de prodcto main*/

   
 .card-galery{
    border: 1px solid #ccc;
    width: 300px;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
 }
 .card-galery:hover{
    box-shadow: 3px 3px 6px 3px  rgba(0,0,0,0.3);
 }
 .galery-img{
        position: relative;
    right:12px;
    width:300px;
    height: auto;

 }
.vans{
   
    border-bottom:1px solid rgb(104, 96, 96);
    margin: 5px;
   @extend .producto; 
   
}
 .producto{
    text-align: center;
}
.titulo .conteiner-form {
    display: flex;
    justify-content: center; }
  
  .texto {
    color: #000000;
    font-size: 20px;
    padding-left: 10px; 
    display: flex;
    align-items: center;
  }

   
    .text{
        text-align: center;
            p{
               font-size:20px; 
            }
            .btn{
                margin: 15px;

            }
        
    }
       /* contac*/
 
      .formulario{
        background-color: rgb(222, 230, 227);
        border-radius: 10px;
      }
      .buttons {
        min-width: 700px;
        display: flex;
        justify-content: space-around; }
      
      .titulo, .conteiner-form {
        display: flex;
        justify-content: center; }









  
    @media (max-width: 576px) { 
        .card-title{
            font-size: 22px;
            color: aliceblue;
        }
       
    }
@media (max-width: 858px) {
    .galery {
    display: flex;
    justify-content: center;

    
} 
 }
 
 @media(max-width:600px){
.grid{
    justify-items: center;
}
}

