.logopizza{
    height: 60px; 
    width: 70px;
    }
    
    .nav-link{ 
        margin-left: 25px;
        color: rgb(0, 0, 0);
    }
    .nav-link:hover{
        color: coral;
    }
    
    